{% extends "manage/base_manage.html" %}

{% block managetitle %}Manage Folders{% endblock %}

{% block managemenu %}
    <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <a href="/accounts/manage/folders/wizard/" class="big_awesome_button">Create a new folder</a>
            </td>
        </tr>
        <tr>
            <td>
                Folders you have access to
            </td>
        </tr>
        <tr>
            <td>
                A list of folders will go here.
            </td>
        </tr>
    </table>
{% endblock %}