{% extends "manage/base_manage.html" %}

{% block managetitle %}Manage Folders{% endblock %}

{% block managemenu %}
    <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <a href="/accounts/manage/folders/wizard/" class="big_awesome_button">Create a new folder</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/accounts/manage/" class="big_awesome_button">Back to Manage</a>
            </td>
        </tr>
    </table>
    <table class="geocam_table list_table" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th>
                Folders you have access to:
            </th>
        </tr>
        {% if folders.count > 0 %}
            {% for group in folders %}
                <tr>
                    <td>{{ group|safe }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>You do not have access to any folders.</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}