{% extends "manage/base_manage.html" %}

{% block managetitle %}Manage Groups{% endblock %}

{% block managemenu %}
    <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <a href="/accounts/manage/groups/wizard/" class="big_awesome_button">Create a new group</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/accounts/manage/" class="big_awesome_button">Back to Manage</a>
            </td>
        </tr>
    </table>
    <table class="geocam_table list_table" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th>
                Groups you are a member of
            </th>
        </tr>
        {% if groups.all.count > 0 %}
            {% for group in groups.all %}
                <tr>
                    <td>{{ group|safe }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>You are not a member of any groups.</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}