{% extends "manage/base_manage.html" %}

{% block managetitle %}Manage Groups{% endblock %}

{% block managemenu %}
    <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <a href="/accounts/manage/groups/wizard/" class="big_awesome_button">Create a new group</a>
            </td>
        </tr>
        <tr>
            <td>
                Groups you are a member of
            </td>
        </tr>
        <tr>
            <td>
                A list of groups will go here.
            </td>
        </tr>
    </table>
{% endblock %}