{% extends "manage/base_manage.html" %}

{% block managetitle %}Join the {{ group_name|title }} group{% endblock %}

{% block managemenu %}
    <form name="joingroup" method="POST" action="." onsubmit="return advance_form(this);">
        <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
            {% if successful %}
                <tr>
                    <td>
                        You have successfully joined the {{ group_name|title }} group
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="/accounts/manage/groups/" class="big_awesome_button">Back to Manage Groups</a>
                    </td>
                </tr>
            {% else %}
                {% for field in form %}
                    {{ field.errors }}
                    {% if not field.is_hidden %}
                        {% if field.html_name == "group_password" and requires_password == True %}
                            <tr>
                                <td>
                                    {{ field.label_tag }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ field }}
                                </td>
                            </tr>
                        {% else %}
                            <tr style="display:none;">
                                <td>
                                    {{ field.label_tag }}
                                </td>
                            </tr>
                            <tr style="display:none;">
                                <td>
                                    {{ field }}
                                </td>
                            </tr>
                        {% endif %}
                        
                    {% else %}
                        <tr style="display:none;">
                            <td colspan="2">{{ field }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <input type="submit" id="hidden_submit" name="hidden_submit" value="Join Group" class="big_awesome_button" />
                    </td>
                </tr>
            {% endif %}
        </table>
        
        {% csrf_token %}
    </form>
{% endblock %}