{% extends "manage/base_manage.html" %}

{% block managetitle %}Manage{% endblock %}

{% block managemenu %}
    <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <a href="/accounts/manage/profile/" class="big_awesome_button">Manage Profile</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/accounts/manage/groups/" class="big_awesome_button">Manage Groups</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/accounts/manage/folders/" class="big_awesome_button">Manage Folders</a>
            </td>
        </tr>
    </table>
{% endblock %}