{% extends "base2.html" %}

{% block contents %}
<form name="profile" method="POST" action=".">
    <h1 class="geocam_table_title">Profile</h1>
    
    <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
        {% for field in user_form %}
            <tr>
                <td>{{ field.label_tag }}</td>
            </tr>
            <tr>
                <td>{{ field }}</td>
            </tr>
            
            {% if field.errors  %}
                {% for error in field.errors  %}
                    <tr>
                        <td colspan="2" class="geocam_error_red">{{ error|escape }}</td>
                    </tr>
                {%  endfor %}
            {% endif %}

        {% endfor %}
        
        {% for field in profile_form %}
            <tr>
                <td>{{ field.label_tag }}:</td>
            </tr>
            <tr>
                <td>{{ field }}</td>
            </tr>
        
            {% if field.errors  %}
                {% for error in field.errors  %}
                    <tr>
                        <td colspan="2" class="geocam_error_red">{{ error|escape }}</td>
                    </tr>
                {%  endfor %}
            {% endif %}

        {% endfor %}
        
        <tr>
            <td colspan="2">
                <a href="javascript:void();" onclick="document.forms['post'].submit();" class="big_awesome_button">Login</a>
            </td>
        </tr>
        
    </table>
    
    <input type="hidden" value="Save" />
    {% csrf_token %}
    
    
    
</form>

{% endblock %}