{% extends "wizards/base_wizard.html" %}

{% block managetitle %}Create a folder{% endblock %}

{% block wizard_steps %}
    <ul id="wizard_steps">
        <li>
            <script type="text/javascript" charset="utf-8">
                function create_summary() {
                    // Clear the summary table for only the latest data
                    $('#perms_list').children().remove();
                    
                    $('#confirm_folder_name').text($('#folder_name').val());
                    
                    var group_count = parseInt($('#group_count').val());
                    console.log(group_count);
                    
                    for(var i = 0; i< (group_count+1); i++) {
                        var group_name = $('#group_id_'+i).val();
                        var group_type = $('#group_type_'+i).val();
                        var group_perms = $('#group_permission_'+i).val();
                        
                        if(group_perms != "none" && typeof(group_perms) != "undefined") {
                           if(group_type == "user") {
                               $('#perms_list').append('<tr><td>You</td><td>'+group_perms+'</td></tr>');
                           }
                           else {
                               $('#perms_list').append('<tr><td>'+group_name+'</td><td>'+group_perms+'</td></tr>');
                           }
                        }
                    }
                }
                
                function show_folder_name_error() {
                    show_error('folder_name_error', 'You need to specify a unique name for your group');
                }
                
                function validate_submit(step_limit) {
                    stepto = null;
                    
                    if(typeof(step_limit) == "undefined") {
                        step_limit = step_count;
                    }
                     
                    // This is to block off the different validation steps, to support 
                    // validation when clicking next or back
                    if(step_limit >= 1) {
                        if($('#folder_name').val().length == 0) {
                            show_folder_name_error();
                            stepto = 1;
                        }
                        else {
                            hide_error('folder_name_error');
                        }
                    }
                    
                    if(step_limit >= 2) {
                        if($('#group_permission_0').val() != "admin") {
                            $('#permissions_error').text('Your account must have admin privileges to this folder.');
                            $('#permissions_error').show();
                            stepto = 2;
                        }
                        else {
                            hide_error('permissions_error');
                        }
                    }
                    
                    if(stepto != null) {
                        step_to(stepto);
                        return false;
                    }
                    
                    return true;
                }
                
                function submit_data_success_handler(data) {
                    if(data.status == "success") {
                        $('#wizard_steps').hide();
                        $('#wizard_controls').hide();
                        $('#complete_view').show();
                    }
                    else if(data.status == "fail") {
                        for(i = 0; i < data.data.length; i++) {
                            var datum = data.data[i];
                            
                            if(datum.field == "folder_name") {
                                show_folder_name_error();
                                step_to(1);
                            }
                        }
                    }
                }
                
                function check_folder_name_avaliability() {
                    var name = $('#folder_name').val();
                }
                
            </script>
            <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="2">
                        <b>Set folder name</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="folder_name_error" class="wizard_error"></div>
                        <span class="label">Name of folder</span>
                    </td>
                </tr>
                <tr>
                    <!--<td width="80%">-->
                    <td colspan="2">
                        <input type="text" name="folder_name" value="" id="folder_name">
                    </td>
                    <!--
                    <td>
                        <button type="button" id="folder_name_check" class="check_button" onclick="check_folder_name_avaliability();">Check</button>
                    </td>
                    -->
                </tr>
            </table>
        </li>
        <li>
            <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <b>Permissions</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="permissions_error" class="wizard_error"></div>
                        <span class="label">Who needs permission to this folder?</span>
                    </td>
                </tr>
                <tr>
                    <td width="60%">
                        You
                    </td>
                    <td>
                        <input type="hidden" id="group_id_0" name="group_id_0" value="{{ request.user.email|safe }}" />
                        <input type="hidden" id="group_type_0" name="group_type_0" value="user" />
                        <input type="hidden" id="group_permission_0" name="group_permission_0" value="admin" />
                        <select disabled="disabled">
                            <option value="admin" selected="selected">Admin</option>
                            <option value="readwrite">Read + Write</option>
                            <option value="write">Write Only</option>
                            <option value="read">Read Only</option>
                        </select>
                    </td>
                </tr>
                {% for group in groups %}
                    <tr>
                        <td>
                            {{ group.name|title }}
                        </td>
                        <td>
                            <input type="hidden" id="group_id_{{ forloop.counter|safe }}" name="group_id_{{ forloop.counter|safe }}" value="{{ group.name|safe }}" />
                            <input type="hidden" id="group_type_{{ forloop.counter|safe }}" name="group_type_{{ forloop.counter|safe }}" value="group" />
                            <select id="group_permission_{{ forloop.counter|safe }}" name="group_permission_{{ forloop.counter|safe }}">
                                <option value="admin">Admin</option>
                                <option value="write">Read + Write</option>
                                <option value="read">Read Only</option>
                                <option value="none" selected="selected">None</option>
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <input type="hidden" id="group_count" name="group_count" value="{{ groups.count }}" />
        </li>
        <li>
            <table id="summary_table" width="100%" border="0" cellspacing="0" cellpadding="5">
                <tr>
                    <td colspan="2">
                        <b>Confirmation</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="confirm_label">Name:</span> 
                        <span id="confirm_folder_name"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="confirm_label">These users will have access to this folder:</span>
                    </td>
                </tr>
            </table>
            <table id="perms_list" width="100%" border="0" cellspacing="0" cellpadding="5">
            </table>
        </li>
    </ul>
    <div id="complete_view" style="display:none;">
        <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>Your folder has been created!</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="javascript:void();" onclick="go_to_view('/accounts/manage/folders/')" class="big_awesome_button">Back to Manage Folders</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}