{% extends "wizards/base_wizard.html" %}

{% block managetitle %}Create a group{% endblock %}

{% block wizard_steps %}
    <ul id="wizard_steps">
        <li>
            <script type="text/javascript" charset="utf-8">
                var invite_index = 0;
            
                //Not the best place for this to be, but it will do for now
                function add_member_to_list() {
                    show_error('group_invitee_email_error');
                    
                    // Get the values in the invite email field, and setup our list
                    var invitee_email = $('#invitee_email').val();
                    var invitee_list = [];
                    var invalid_list = [];
                    
                    // Check to see if a comma is present, if so split the string and trim spaces
                    if(invitee_email.indexOf(",") != -1) {
                        invitee_list = invitee_email.split(",").map(function(str){return str.replace(/^\s+|\s+$/g, '')});
                    }
                    else {
                        invitee_list.push(invitee_email);
                    }
                    
                    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    
                    console.log(invitee_list);
                    
                    clean_list = [];
                    for(var i = 0; i < invitee_list.length; i++) {
                        if(invitee_list[i].match(re)) {
                            clean_list.push(invitee_list[i]);
                        }
                        else {
                            invalid_list.push(invitee_list[i]);
                        }
                    }
                    
                    invitee_list = clean_list;
                    
                    if(invitee_list.length > 0) {
                        // Iterate through list of emails, adding them to the interface
                        for(var i = 0; i < invitee_list.length; i++) {
                            var datum = invitee_list[i];
                            $('#members_list').append('<div id=\"'+invite_index+'\" class=\"invite_widget\">'+datum+' <a href=\"javascript:void(0);\" onclick=\"remove_member_from_list(\''+datum+'\',\''+invite_index+ '\');\">X</a></div>');
                            invite_index++;
                        }

                        $('#members_list_text').val($('#members_list_text').val() + invitee_list.join(',') + ',');

                        $('#invitee_email').val('');
                    }
                    else {
                        show_error('group_invitee_email_error', 'The email address you entered was not valid');
                    }
                    
                    if(invalid_list.length > 0) {
                        show_error('group_invitee_email_error', 'The email address you entered was not valid');
                        $('#invitee_email').val(invalid_list.join(','));
                    }
                }
                
                function remove_member_from_list(email, index) {
                    $('#members_list_text').val($('#members_list_text').val().replace(email + ',', ''));
                    $('#'+index).remove();
                    
                }

                function create_summary() {
                    $('#confirm_group_name').text($('#group_name').val());
                    
                    if($('#group_password1').val().length != 0) {
                        $('#confirm_group_password').text($('#group_password1').val());
                    }
                    else {
                        $('#confirm_group_password').text("(No password set)");
                    }
                    
                    
                    var member_count = $('#members_list_text').val().split(',').length;
                    var member_count = (member_count == 0) ? 1 : member_count;
                    
                    $('#confirm_group_members').text(member_count);
                    
                    $('#group_name_private_folder').text($('#group_name').val());
                    $('#group_name_public_folder').text($('#group_name').val());
                }
                
                function show_group_name_error() {
                    show_error('group_name_error', 'You need to specify a unique name for your group');
                }
                
                function validate_submit(step_limit) {
                    stepto = null;
                    
                    if(typeof(step_limit) == "undefined") {
                        step_limit = step_count;
                    }
                    
                    if(step_limit >= 1) {
                        
                        if($('#group_name').val().length == 0) {
                            show_group_name_error();
                            stepto = 1;
                        }
                        else {
                            hide_error('group_name_error');
                        }
                    }
                    
                    if(step_limit >= 2) {
                                                
                        if($('#group_password1').val() != $('#group_password2').val()) {
                            show_error('group_password1_error', 'The passwords you entered did not match. Please try again');
                            stepto = 2;
                        }
                        else {
                            hide_error('group_password1_error');
                        }
                    }
                    
                    if(stepto != null) {
                        step_to(stepto);
                        return false;
                    }
                    
                    return true;
                }
                
                // Handler to respond to a successful submittion to the server
                function submit_data_success_handler(data) {
                    if(data.status == "success") {
                        $('#wizard_steps').hide();
                        $('#wizard_controls').hide();
                        $('#complete_view').show();
                    }
                    else if(data.status == "fail") {

                        for(i = 0; i < data.data.length; i++) {
                            var datum = data.data[i];
                            
                            // Check to see if the 
                            if(datum.field == "name") {
                                show_group_name_error();
                                step_to(1);
                            }
                        }
                    }
                }
                
                function check_group_name_avaliability() {
                    var name = $('#group_name').val();
                }
            
            </script>
            <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="2">
                        <b>Set group name</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="group_name_error" class="wizard_error"></div>
                        <span class="label">Enter a unique group name</span>
                    </td>
                </tr>
                <tr>
                    <!-- <td width="80%"> -->
                    <td colspan="2">
                        <input type="text" name="name" value="" id="group_name">
                    </td>
                    <!--
                    <td>
                        <button type="button"  id="group_name_check" onclick="check_group_name_avaliability();" class="check_button">Check</button>
                    </td>
                    -->
                </tr>
            </table>
        </li>
        <li>
            <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="2">
                        <b>Set password</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        We recommend setting a password if you want users to be able to join your group without having to manually add them. This step is optional, but we highly recommend it for groups setup around incidents.
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="group_password1_error" class="wizard_error"></div>
                        <span class="label">Password</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" name="group_password1" value="" id="group_password1">
                    </td>
                </tr> 
                <tr>
                    <td colspan="2">
                        <div id="group_password2_error" class="wizard_error"></div>
                        <span class="label">Confirm Password</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" name="group_password2" value="" id="group_password2">
                    </td>
                </tr>
            </table>
        </li>
        <li>
            <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="2">
                        <b>Add Members</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="group_invitee_email_error" class="wizard_error"></div>
                        <span class="label">Invitee Email Address</span>
                    </td>
                </tr>
                <tr>
                    <td width="80%">
                        <input type="text" name="invitee_email" value="" id="invitee_email">
                    </td>
                    <td>
                        <button type="button" onclick="add_member_to_list()" class="check_button">Add</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="label">Members List</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="members_list_text" name="members_list" style="display:none;" rows="10"></textarea>
                        <div id="members_list"></div>
                    </td>
                </tr>
            </table>
        </li>
        <li>
            <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <b>Confirmation</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="confirm_label">Name:</span> 
                        <span id="confirm_group_name"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="confirm_label">Password:</span> 
                        <span id="confirm_group_password"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="confirm_label">Number of members:</span> 
                        <span id="confirm_group_members"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="confirm_label">Folders created for your group:</span> 
                        <span id="confirm_group_folders"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span id="group_name_public_folder"></span> Public
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span id="group_name_private_folder"></span> Private
                    </td>
                </tr>
            </table>
        </li>
    </ul>
    <div id="complete_view" style="display:none;">
        <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>Your group has been created!</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/accounts/manage/groups/" class="big_awesome_button">Back to Manage Groups</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}