{% extends "base2.html" %}

{% block siteSection %}Login{% endblock %}

{% block popupmenu %} <!-- Zero out popup menu -->{% endblock %}
{% block menubar %}
<ul id="menu_bar_items">
    <li class="home" onclick="go_to_view('/');">&nbsp;</li>
</ul>
{% endblock %}

{% block css %}
    
{% endblock %}

{% block contents %}

<form name="login" method="POST" action="." onsubmit="return advance_form(this);">
    <h1 class="geocam_table_title">Login</h1>

    <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
        {% if form.errors %}
        <tr>
            <td>
                <p class="geocam_error_red">Invalid username or password. Please try again.</p>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                Username
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="username" id="id_username" autocorrect="off" autocapitalize="off" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="password" id="id_password" autocorrect="off" autocapitalize="off" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="hidden_submit" name="hidden_submit" value="Login" class="big_awesome_button" />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
{% if not settings.GEOCAM_CORE_DISABLE_ACCOUNT_CREATION %}
        <tr>
            <td>
                Don't have a {{ settings.SITE_NAME }} Account?
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" onclick="go_to_view('/accounts/register/{% if request.GET.next %}?next={{ request.GET.next|safe }}{% endif %}');" class="big_awesome_button" value="Create an account" />
            </td>
        </tr>
{% endif %}
    </table>
        
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
</form>

{% endblock %}
