{% extends "base2.html" %}

{% block siteSection %}Login{% endblock %}

{% block popupmenu %} <!-- Zero out popup menu -->{% endblock %}
{% block menubar %} <!-- Zero out menu items -->{% endblock %}

{% block css %}
    
{% endblock %}

{% block contents %}

<form name="login" method="POST" action=".">
    <h1 class="geocam_table_title">Login</h1>

    <table class="geocam_table" border="0" cellspacing="0" cellpadding="0">
        {% if form.errors %}
        <tr>
            <td>
                <p class="geocam_error_red">Invalid username or password. Please try again.</p>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                Username
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="username" id="id_username" />
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="password" id="id_password" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="javascript:void();" onclick="document.forms['login'].submit();" class="big_awesome_button">Login</a>
            </td>
        </tr>
    </table>

    <input type="hidden" name="next" value="{{ next }}" />
    <input type="hidden" value="Login" />
    {% csrf_token %}
</form>

{% endblock %}
