<div class="geocamTermsTitle">GeoCam DEMO Terms of Service</div>

<p>This GeoCam DEMO is a sandbox intended for demonstration purposes
only.  THIS SERVICE IS PROVIDED WITH ABSOLUTELY NO WARRANTY. The service
may be discontinued at any time. Photos and other information you submit
to this service will be available for anyone to view on this web site
and we may use them in presentations as examples of how the service is
used.</p>

<p>Please protect your privacy by carefully considering whether
you want to publicly disclose the information you submit.</p>
