{% extends "base2.html" %}
{% load geocamAuth %}

{% block popupmenu %}

{% endblock %}

{% block menubar %}
{% endblock %}

{% block contents %}
<h1 class="geocam_table_title">Welcome</h1>

<table class="geocam_table" border="0" cellspacing="0" cellpadding="0" style="max-width: 600px;">
    <tr><td>
        GeoCam Share helps you share map data. You can take geotagged
        photos with your Android smart phone and they will show up on
        the map.
    </td></tr>

    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>
            <a href="{% url register %}" class="big_awesome_button">Sign up to start sharing map data. It's free!</a>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>
            <a href="{% url home %}" class="big_awesome_button">Enter as guest (view data only)</a>
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>
        <h1 class="geocam_table_title">Registered users - log in</h1>
        <form id="geocam_login_form" method="post" action="{% url geocamCore_login %}">
            {% csrf_token %}
            <table>
              {{ authenticationForm.as_table }}
            </table>
            <input type="submit" style="display:none"/>
            <a href="#" class="big_awesome_button" onclick="$('#geocam_login_form').submit(); return false;">Log in</a>
        </form>
        </td>
    </tr>
</table>
{% endblock %}
